* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}
